.filterContainer{
  .input{
    margin-top: 5px;
  }
  .checkbox{
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .buttons{
    button{
      margin: 10px;
    }
  }
  h2{
    margin: 10px;
  }
}